* {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 1.25px;
}

nav a:hover,
a.active,
button:hover {
  color: #fa5252;
}

.footer a {
  display: block;
}
.footer a:hover {
  color: #fa5252;
  cursor: pointer;
}

.offer,
.order button {
  background-color: #f2295b;
}
